.main-home{
    display: flex;
    flex-wrap: wrap;
}
.main-home a{
    margin: 2rem;
    text-align: center;
    color: white;
    flex: 1 0 25%;
    background: #090B20;   
    padding: 1rem;
    text-align: center;
    width: 100%;
    border-radius: 2rem;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
h2{
    padding-left: 1rem;
}