.main-todos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}   
.main-todos .box{
    flex: 1 0 20%;
    margin: 1rem;
    text-align: center;
    width: 100%;
    border-radius: 2rem;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
h1{
    padding: 1rem;
}

.icons{

    display: flex;
    justify-content: center;
}